body {
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
}

#brand {
  color: white;
  line-height: 50px;
  margin-left: 50px;
  font-family: 'Revalia', cursive;
  font-size: 28px;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}