body {
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: black;
}

#brand {
  color: white;
  line-height: 50px;
  margin-left: 50px;
  font-family: 'Revalia', cursive;
  font-size: 28px;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

#images-container {
  max-height: 500px;
}

#instructions-container {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 10px;
  border: 5px solid #bada55;
}

.instructions {
  margin: 20px;
  padding: 10px;
  background: yellow;
  border: 1px solid black;
}

.red-text {
  color: red;
}

img {
  max-height: 100%;
}
