body {
  padding-top: 50px;
}

header, footer {
  position: fixed;
  width: 100%;
  background: black;
  color: white;
  left: 0;
  z-index: 9999;
}

header {
  padding-left: 50px;
  top: 0;
  height: 50px;
}

footer {
  bottom: 0;
  height: 30px;
  text-align: center;
}

footer a {
  color: #ccc;
}

img {
  max-height: 100%;
}

#brand, #credits {
  line-height: 50px;
}

#brand {
  font-family: 'Revalia', cursive;
  font-size: 28px;
}

#credits {
  font-family: helvetica, sans-serif;
  line-height: 30px;
  font-size: 14px;
}

#mask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.9);
}

#images-container {
  max-height: 500px;
}

#instructions-container {
  position: absolute;
  z-index: 3;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 10px;
  border: 5px solid #bada55;
}

#main-vid {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
}

.instructions {
  margin: 20px;
  padding: 10px;
  background: yellow;
  border: 1px solid black;
}

.red-text {
  color: red;
}

.doge {
  position: absolute;
  z-index: 10;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.green {
  color: #32cd32;
}

.violet {
  color: #bf5fff;
}

.white {
  color: #fff;
}

.light-blue {
  color: #00FFFF;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.big {
  font-size: 42px;
}

.medium {
  font-size: 32px;
}

