body {
  min-width: 1280px;
  min-height: 800px;
  margin: 0;
}

header, footer {
  position: fixed;
  z-index: 4;
  width: 100%;
  background: black;
  color: white;
  margin: 0;
}

header {
  padding-left: 50px;
  top: 0;
  left: 0;
  height: 50px;
}

footer {
  bottom: 0;
  left: 0;
  height: 30px;
  text-align: center;
}

footer a {
  color: #ccc;
}

#brand, #credits {
  line-height: 50px;
}

#brand {
  font-family: 'Revalia', cursive;
  font-size: 28px;
}

#credits {
  font-family: helvetica, sans-serif;
  line-height: 30px;
  font-size: 14px;
}

#mask {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(40, 40, 40, 0.9);
}

#images-container {
  max-height: 500px;
}

#images-container img {
  max-height: 500px;
  position: absolute;
}

#instructions-container {
  position: fixed;
  z-index: 4;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  height: 400px;
  background: white;
  border-radius: 10px;
  border: 5px solid #bada55;
  text-align: center;
}

#main-vid {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;
}

#mini-vid {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.instructions {
  margin: 20px;
  padding: 10px;
  background: yellow;
  border: 1px solid black;
}

.instructions h1 {
  color: #666;
}

.doge {
  position: fixed;
  z-index: 10;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.green {
  color: #32cd32;
}

.violet {
  color: #bf5fff;
}

.white {
  color: #fff;
}

.light-blue {
  color: #00FFFF;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.big {
  font-size: 42px;
}

.medium {
  font-size: 32px;
}

#doge-ball{
    height: 60px;
    width: 60px;
    background: url('/images/doge.jpeg');
    background-size: 60px;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    border: 5px solid yellow;


   -webkit-animation: horizontal 6s, vertical 7s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;

   -moz-animation: horizontal 6s, vertical 7s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
}
@-webkit-keyframes vertical {
    0% { top: 0;}
    50% { top: 100%;}
    100%{top:0;}
}
@-webkit-keyframes horizontal {
    0% { left: 0;}
    50% { left: 100%;}
    100%{left:0;}
}
@-moz-keyframes vertical {
    0% { top: 0;}
    50% { top: 100%;}
    100%{top:0;}
}
@-moz-keyframes horizontal {
    0% { left: 0;}
    50% { left: 100%;}
    100%{left:0;}
}